body .titre1 {
  font: 'Trebuchet MS', Verdana, sans-serif;
  font-size: large;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  color: #600;
}

body .section.titre1 {
  font: 'Trebuchet MS', Verdana, sans-serif;
  font-size: large;
  text-align: left;
  color: #0000f6;
}
