@font-size : medium;

body {
  .titre1 {
    text-align: left; font-size: @font-size; font: "Trebuchet MS", Verdana, sans-serif;  color: #660000;
    display: flex;
    text-overflow: ellipsis;
  }

  .section {
    &.titre1 {
      text-align: left;
      font-size: @font-size;  font: "Trebuchet MS", Verdana, sans-serif;  color: #0000f6;
    }
  }
}
